.popup__container {
    padding: 24px 16px 34px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 17px;
    position: relative;
    z-index: 2;
    
}

@media screen and (max-width: 1189px) {
    .popup__container {
        padding-right: 346px;
        background-image: url('./../../../images/popup_bcgr_tablet.png');
        background-size: cover;
    }
}


@media screen and (max-width: 768px) {
    .popup__container {
        padding-right: 16px;
        background-image: url('./../../../images/popup_bcgr_mobile.png');
    }
}
