.individual__wrapper {
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 1190px) {
    .individual__wrapper {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .individual__wrapper {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
}
